.average-chart-container
{
    border-radius: 5px;
    width: 260px;
    height: 260px;
    background: linear-gradient(to right, #FF0000 68%, #e20000 68%);
}

.average-chart-container__title
{
    width: calc(65% - 35px);
    height: calc(20% - 20px);
    margin-left: 35px;
    padding-top: 20px;
    color: #FFFFFF;
    font-size: 15px;
    opacity: 0.5;
}

.custom-tooltip
{
    padding: 5px;
    background-color: #FFFFFF;
}