.average-chart-container
{
    width: 100%;
    height: 80%;
    align-self: end;
    border-radius: 5px;
    background: linear-gradient(to right, #FF0000 72%, #e20000 72%);
}

.average-chart-container__title
{
    width: calc(65% - 15px);
    height: calc(20% - 15px);
    margin-left: 15px;
    padding-top: 15px;
    color: #FFFFFF;
    font-size: 15px;
    opacity: 0.5;
}

.custom-tooltip
{
    padding: 5px;
    background-color: #FFFFFF;
}