.score-chart-container
{
    width: 100%;
    height: 80%;
    align-self: end;
    position: relative;
    background-color: #FBFBFB;
}


.score-chart-container__title
{
    position: relative;
    height: calc(20% - 15px);
    font-weight: bold;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 15px;
}

.score-chart-container__result
{
    position: absolute;
    top: calc(50% - (80px - 15px));
    left: calc(50% - 80px);
    width: 160px;
    height: 160px;
    border-radius: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-chart-container__result__text
{
    width: 40%;
    text-align: center;
    color: #282D30;
}

.score-chart-container__result__score
{
    font-size: 30px;
    font-weight: 700;
}