.userIdentity
{
    width: calc(100% - 200px);
    height: calc(30% - 50px);
    margin: 50px 100px 0 100px;
}

.userIdentity__title
{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
}

.userIdentity__title__name
{
    color: #FF0101;
}

.userIdentity__catchphrase
{
    font-size: 18px;
}