.userIdentity
{
    width: calc(100% - 100px);
    min-height: calc(20vh - 90px);
    margin: 0 50px 0 50px;
    padding-top: 50px;
}

.userIdentity__title
{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
}

.userIdentity__title__name
{
    color: #FF0101;
}

.userIdentity__catchphrase
{
    font-size: 18px;
}