.title
{
    font-size: 24px;
    margin: 25px 0 0 25px;
    text-decoration: underline;
    text-decoration-color: red;
}

.test-links-list
{
    margin: 25px 0 0 25px;
}

.test-links-list__item__link
{
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

.test-links-list__item__link:hover
{
    text-decoration: underline;
    text-decoration-color: red;
}